body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    Roboto, "Hiragino San", "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP",
    "Yu Gothic", sans-serif;
    padding: 5px 5px;
}
.block-modal{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-element {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-element label {
    margin-right: 5px;
}

.input-element input {
    padding: 4px 2px;
    border-radius: 3px;
}

#error-message {
    width: 100%;
    color: rgb(233, 71, 71);
    text-align: center;
}

.button-group-confirm button {
    min-width: 100px;
    border-radius: 5px;
    border: 0px;
    padding: 3px 3px;
    text-align: center;
}

.button-group-confirm .left {
    background-color: #9292da;
}

.button-group-confirm .right {
    background-color: #8f98a6;
}